#order{
    display: flex;
    height: 97vh;
    width: 99vw;

    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

H1{
    border: 3px solid black;
    width: 70%;
    text-align: center;
}
#message{
    height: 30%;
}