body{
    font-family: 'Exo', sans-serif;
    margin: 0;
    background: url(img/background.jpg)no-repeat center center fixed;
background-size: cover;
}








h1{
    font-weight: 800;
    -webkit-text-fill-color: white;
}
h2{
    font-weight: 500;
    -webkit-text-fill-color: white;
}
p{
    font-weight: 300;
    -webkit-text-fill-color: white;
    margin: 0 5px;
    background-color: #3c91e6c5;
    backdrop-filter: blur(2px);
    padding: 0 5px;
    height: 22px;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    color: white !important;
}
h3{
    font-weight: 300;
    -webkit-text-fill-color: white;
}
a{
    width: 100vw;
    font-weight: 300;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-radius:20px ;
    margin-top: 40px;
    background-color: dodgerblue;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}


.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #4e54c8;
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}
.background li:nth-child(0) {
    left: 6%;
    width: 72px;
    height: 72px;
    bottom: -72px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 52%;
    width: 50px;
    height: 50px;
    bottom: -50px;
    animation-delay: 3s;
}
.background li:nth-child(2) {
    left: 31%;
    width: 112px;
    height: 112px;
    bottom: -112px;
    animation-delay: 5s;
}
.background li:nth-child(3) {
    left: 30%;
    width: 88px;
    height: 88px;
    bottom: -88px;
    animation-delay: 13s;
}
.background li:nth-child(4) {
    left: 59%;
    width: 58px;
    height: 58px;
    bottom: -58px;
    animation-delay: 16s;
}
.background li:nth-child(5) {
    left: 69%;
    width: 87px;
    height: 87px;
    bottom: -87px;
    animation-delay: 5s;
}
.background li:nth-child(6) {
    left: 2%;
    width: 163px;
    height: 163px;
    bottom: -163px;
    animation-delay: 6s;
}
.background li:nth-child(7) {
    left: 48%;
    width: 116px;
    height: 116px;
    bottom: -116px;
    animation-delay: 22s;
}
.background li:nth-child(8) {
    left: 18%;
    width: 103px;
    height: 103px;
    bottom: -103px;
    animation-delay: 25s;
}
.background li:nth-child(9) {
    left: 89%;
    width: 105px;
    height: 105px;
    bottom: -105px;
    animation-delay: 1s;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}


.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    opacity: 50%;
    border-radius: 20px;
    -webkit-text-fill-color: black;
}

.nav ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.nav li a:hover {
    background-color: lightgrey;
}









.titlecolour{
 padding: 0 10px;
    background-color: #0F227A;
    width: 33%;
}



.description{
    width: 53%;
}


.titletags{
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}


.box{

    display: flex;
    flex-direction: row;
justify-content: space-between;

border-radius:20px ;


}
.images{
    width: 200px;
    height: 108px;
    border-radius: 20px;
}





#taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;

}



#taskbar a:hover {
    background-color: #555;
}


#language{
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-top: -10%;
    margin-left: 0%;
    padding-bottom: 5px;
    padding-top: 5px;
    position: fixed;
    background-color: white;
    border-radius: 20px;

}
#language a{
    width: auto;
    margin: 0;

    border-radius: 20px;
    -webkit-text-fill-color: black;
    background-color: white;
    padding: 20px 30px;
}
#language a:hover{
    background-color: grey;
}
#same p{
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #333;
    transition: background-color 0.3s;
    -webkit-text-fill-color: white;
}
#same p:hover{
    background-color: grey;
}
.anti a{
    width: auto;
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #333;
    transition: background-color 0.3s;
}

#navigation{
    display: flex;
    justify-content: center;
    background-color: dodgerblue;
    border-radius: 20px;
}
#navigation a:hover{
    background-color: cyan;
}

#games{
    width: 33%;
}
#websites{
    width: 33%;
}
#others{

}








@media only screen and (max-width: 600px) {
    body {
        background: url(img/wallpaper.jpg)no-repeat center center fixed;
        background-size: 100%;
    }
    .title{
        width: 100%;

        display: flex;
        justify-content: center;
    }
    #background {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .box{
        background: none;
        border-radius: 20px;
        width: 100px;
        justify-content: center;
    }
    img{
        background-color: grey;
        border-radius: 20px;
    }

}